[package]
name = "puniyu_node_types"
version = "0.1.0"
authors.workspace = true
license.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
serde.workspace = true
napi = { version = "3.0.0", features = [] }
napi-derive = "3.0.0"

puniyu_types = { git = "https://github.com/puniyu/puniyu", rev = "d61727e" }

[build-dependencies]
napi-build = "2"